[Desktop Entry]
Type=Application
Name=Pyzo
GenericName=Python IDE
Comment=Python IDE for interactive scientific computing
Icon=org.pyzo.pyzo
Exec=pyzo
Terminal=false
Categories=Development;IDE;Science;
Keywords=python;science;computing;interactive;
MimeType=text/x-python;
